USE [EmpleadosReact]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Telefono], [IdRol]) VALUES (3, N'Lilia', N'55786342653', 2)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Telefono], [IdRol]) VALUES (6, N'Sergio', N'67900000', 2)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Telefono], [IdRol]) VALUES (7, N'string', N'string', 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (1, N'Supervisor')
INSERT [dbo].[Roles] ([IdRol], [Descripcion]) VALUES (2, N'Gerente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizaEmpleado]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Juárez
-- Create date: 08/08/2025
-- Description:	actualiza el registro a la tabla Empleados
-- =============================================
CREATE PROCEDURE [dbo].[sp_ActualizaEmpleado]
(

@IdEmpleado INT
,@Nombre varchar(50)
,@Telefono varchar(50)
,@IdRol INT
)
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE dbo.Empleados
   SET Nombre = @Nombre
      ,Telefono = @Telefono
	  ,IdRol = @IdRol
 WHERE IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaEmpleadoId]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Juárez
-- Create date: 08/08/2025
-- Description:	Consulta a la tabla Empleados por ID
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConsultaEmpleadoId]
(
@IdEmpleado INT
)

AS
BEGIN
	
	SET NOCOUNT ON;
	
SELECT IdEmpleado
      ,Nombre
      ,Telefono
      ,IdRol
  FROM dbo.Empleados
  WHERE IdEmpleado = @IdEmpleado


END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaEmpleados]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sergio Juárez
-- Create date: 08/08/2025
-- Description:	Consulta a la tabla Empleados
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConsultaEmpleados]
AS
BEGIN
	
	SET NOCOUNT ON;
	
SELECT IdEmpleado
      ,E.Nombre
      ,E.Telefono
      ,R.IdRol
	  ,R.Descripcion
  FROM dbo.Empleados E inner join dbo.Roles R on E.IdRol = R.IdRol 


END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminaEmpleado]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sergio Juárez
-- Create date: 08/08/2025
-- Description:	Elimina el registro a la tabla Empleados
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminaEmpleado]
(
@IdEmpleado int

)
AS
BEGIN

	SET NOCOUNT ON;
		   
		DELETE FROM dbo.Empleados   WHERE IdEmpleado = @IdEmpleado


END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertaEmpleado]    Script Date: 11/08/2025 03:26:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sergio Juárez
-- Create date: 08/08/2025
-- Description:	Inserta a la tabla Empleados
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertaEmpleado]
(

@Nombre varchar(50)
,@Telefono varchar(50)
,@IdRol int

)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO dbo.Empleados
           (Nombre
           ,Telefono
           ,IdRol)
     VALUES
           (@Nombre 
           ,@Telefono 
           ,@IdRol)
END
GO
